.header{
    margin-top: 33px;
    margin-left: 104px;
    display:flex;
    justify-content:end;
    margin-right: 128px;
    gap: 40px;
    align-items: center;
}
.header button{
    border-radius: 6px;
    background-color:#624DE3 ;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: white;
    height: 48px;
    width: 112px;
}
